{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link href="{% static 'main/css/index.css' %}" rel="stylesheet">
<title>Hello!</title>
{% endblock meta %}

{% block content %}
<section class="w-3/4 py-8 m-auto">
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if register_form.errors %}
        {% for field in register_form %}
            {% for error in field.errors %}
                <div class="error">
                    {{ error|escape }} 
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in register_form.non_field_errors %}
            <div class="error">
               {{ error|escape }}
            </div>
        {% endfor %}
    {% endif %}
    <header class="text-2xl text-center">Add News</header>
    <form action="{% url 'main:add_news' %}" method="POST">
        {% csrf_token %}
        <div class="frm rounded-lg">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>

        <div class="frm">
            {{ form.link.label_tag }}
            {{ form.link }}
        </div>

        <div class="frm">
            {{ form.image_headline.label_tag }}
            {{ form.image_headline }}
        </div>

        <div class="text-center">
            <input type="submit" value="Add" class="btn dark rounded-3xl py-2 px-6 focus:outline-none focus:border-blue-300 focus:shadow-outline">
        </div>
    </form>
</section>
{% endblock content %}