{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link href="{% static 'teofanus/css/index.css' %}" rel="stylesheet">
<title>Login</title>
{% endblock meta %}

{% block content %}
<section class="text-white">
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if register_form.errors %}
        {% for field in register_form %}
            {% for error in field.errors %}
                <div class="error">
                    {{ error|escape }} 
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in register_form.non_field_errors %}
            <div class="error">
               {{ error|escape }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="flex flex-col md:flex-row mx-8 md:mx-16 mb-8">
        <div class="light rounded-t-xl md:rounded-tr-none md:rounded-bl-xl flex flex-col gap-2 md:w-2/3 h-auto">
            <header class="text-5xl pt-12 text-center">Masuk</header>
            <form action="{% url 'teofanus:login_account' %}" method="post" class="py-12 px-8 md:px-16">
                {% csrf_token %}
                <div class="frm">
                    {{ login_form.username.label_tag }}
                    <div class="flex">
                        <div class="rounded-l-lg" style="background-color: var(--gray);">
                            <img src="{% static 'teofanus/images/mail.svg' %}" halt="Lock Icon" class="py-4 pl-4 w-10">
                        </div>
                        {{ login_form.username }}
                    </div>
                </div>

                <div class="frm">
                    {{ login_form.password.label_tag }}
                    <div class="flex">
                        <div class="rounded-l-lg" style="background-color: var(--gray);">
                            <img src="{% static 'teofanus/images/lock.svg' %}" alt="Lock Icon" class="py-4 pl-4 w-10">
                        </div>
                        {{ login_form.password }}
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Masuk" class="btn dark rounded-3xl py-2 px-6 focus:outline-none focus:border-blue-300 focus:shadow-outline">
                </div>
            </form>
        </div>
        <div class="dark rounded-b-xl md:rounded-bl-none md:rounded-tr-xl flex flex-col gap-2 text-center justify-center py-8 md:py-48 md:w-1/3">
            <p class="text-4xl">Halo!</p>
            <p>Belum pernah mendaftar?</p>
            <a href="{% url 'teofanus:register' %}">
                <button class="light rounded-3xl px-6 py-2 focus:outline-none focus:border-blue-300 focus:shadow-outline">
                    Daftar
                </button>
            </a>
        </div>
    </div>
</section>
{% endblock content %}
